/* ********** BODY ********** */
body{
    background-color: rgb(22, 22, 22);
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------HEADER------ */
header {
    height: 10vh;
    background-color: black;
    color: white;
    padding: 10px;
    text-align: right;
}

header a {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: rgb(179, 165, 165);
    text-decoration: none;
    position: relative;
}

header a:hover {
    color: white;
}

header a::before,
header a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    background: white;
    transition: all 0.3s ease-in-out;
}

header a::before {
    left: calc(50% + 1px);
}

header a::after {
    right: calc(50% + 1px);
}

header a:hover::before {
    width: 50%;
    left: 0;
}

header a:hover::after {
    width: 50%;
    right: 0;
}

nav {
    float: right;
  }
  
nav ul {
    list-style-type: none;
    padding: 0;
    float: right;
}

nav ul li {
    display: inline;
    margin-right: 5px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo img {
    height: 50px;
    width: auto;
    transition: all 0.3s ease; 
}

.logo span {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: auto;
    transition: all 0.3s ease; 
}

nav ul li {
    display: inline;
    margin-right: 5px;
    transition: all 0.3s ease; 
}

/* ------MAIN------ */

main{
    display: grid;
    grid-template-columns: 20% 30% 20% 30% ;
    grid-template-rows: repeat(3, 33%);
    grid-auto-flow: column;
    align-items: center;
}

.presentacion{
    margin: 50px 60px 20px 60px;
    padding: 30px 100px 20px 50px;
    color: antiquewhite;
    font-family: 'Nunito', sans-serif;
    font-size: 1.5em;
    text-align: center;
    grid-column: 1/span 4;
    grid-row: 1/2;
}

/* IMÁGENES*/
.img1 img, .img2 img, .img3 img, .img4 img{
    max-width: 100%;
    max-height:100%;
    margin: 30px;
    padding:0;
    border: 3px  solid rgb(160, 159, 159);  
} 

.img1:hover, .img2:hover, .img3:hover, .img4:hover{
    transform:scale(1.1,1.1)
}

.img1{
    grid-column: 1/2;
    grid-row: 2/3;
}

.img2{
    grid-column: 1/2;
    grid-row: 3/4; 
}

.img3{
    grid-column: 3/4;
    grid-row: 2/3;
}

.img4{
    grid-column: 3/4;
    grid-row: 3/4; 
} 

/* NOMBRES */
.nombres{
    margin-top: 20px;
    margin-left:10px;
    color: rgb(180, 179, 179);
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
    text-align: justify;
    text-wrap: wrap;
}

.nombres:hover{
    color: blanchedalmond;
    text-decoration: underline;
}

.n1{
    grid-column: 2/3;
    grid-row: 2/3;
}

.n2{
    grid-column: 2/3;
    grid-row: 3/4;
}

.n3{
    grid-column: 4/5;
    grid-row: 2/3;
}
    
.n4{
    grid-column: 4/5;
    grid-row: 3/4;
}

.bx{
    font-size: 20px;
    color: antiquewhite;
}


/* ------FOOTER------ */
footer {
    height :10vh; 
    background-color :#f2f2f2; 
    padding :10px; 
    text-align:center; 
 }
 
footer {
     height :10vh; 
     background-color :#f7f8fc; 
     padding :10px; 
     text-align:center; 
  }
  
footer a i {
      font-size: 26px; /* tamaño del icono */
      color: black; /* color del icono */
      vertical-align: middle;
}
  .social-media a {
      font-size: 18px; /* tamaño de la fuente del texto */
      color: black; 
      font-family: 'Nunito', sans-serif; 
  }
  
  .social-media a i {
      transition: color 0.3s ease; 
  }
  
  .social-media a:hover i {
      color: #ff0000; 
  }
  
  .email {
      display: inline-block; 
      padding: 5px; 
      border-radius: 60px; 
      transition: all 0.3s ease; 
  }
  
  .email:hover {
      background-color: #333; 
      color: #fff; 
  }


@media (max-width: 600px) {
    .logo img {
        height: 30px; 
    }

    .logo span {
        font-size: 20px; 
    }

    nav ul li {
        margin-right: 0;
        margin-bottom: 5px; /
    }

    @media (max-width: 400px) {
        .logo img {
            height: 20px; 
        }

        .logo span {
            font-size: 10px; 
        }
        header a {
            font-size: 10px;
        }
    }
}
    
@media only screen and (max-width : 1100px){
    main {display: grid ;
    grid-template-columns: 40% 60%;
    grid-template-rows: repeat(5, 20%);
    grid-auto-flow: column;
    align-items: center;
    }

    .presentacion{
    grid-column: 1/span 2;
    grid-row: 1/2;
    margin: 0;
    padding: 0;
    font-size: 18px;
    margin: 10px;}

    
    .img1{
    grid-column: 1/2;
    grid-row: 2/3;
    min-width:200px ;}

    .img2{
    grid-column: 1/2;
    grid-row: 3/4;
    min-width:200px;}

    .img3{
    grid-column: 1/2;
    grid-row: 4/5;
    min-width:200px ;
    }

    .img4{
    grid-column: 1/2;
    grid-row: 5/6;
    min-width:200px ;
    }

    .nombres{
    font-size: 18px;
    }

    .n1{
    grid-column: 2/3;
    grid-row: 2/3;
    }

    .n2{
    grid-column: 2/3;
    grid-row: 3/4;
    }

    .n3{
    grid-column: 2/3;
    grid-row: 4/5;
    }

    .n4{
    grid-column: 2/3;
    grid-row: 5/6;
    }
}